{% load static %}
<!DOCTYPE html>
<html lang='ja'>
<head>
  <meta charset='utf-8'>
  <title>WaSへようこそ</title>
  <meta name="description" content="他人が途中まで書いた物語の続きを書こう！手軽に書ける物語投稿サイト">
  <link rel="stylesheet" href="https://unpkg.com/ress@4.0.0/dist/ress.min.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1&display=swap" rel="stylesheet">
  <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
</head>
<body>
  <div id="home">
  <header class="page-header">
      <img class="logo" src="{% static 'images/favicon.png' %}" alt="WaS">
      <h1>物語を紡ごう！</h1>
  </header>
  <div class="content">
    <div class="description">
      <p>ここでは他人が途中まで書いた物語の続きをあなたが書き加えることができます。</p>
      <p>もちろんあなたが物語を始めても構いません。</p>
      <p>どんな風に書くのも、どんな風に続きを書くのもあなたの自由です。</p>
      <p>無論、自分で物語を終わらせても構いません。</p>
      <p>さあ、ショートストーリを作ってみましょう！</p>
    </div>
    <div class="option">
      <ul>
        <li><a class="button" href="{% url 'novel:story_list' %}">作品一覧</a></li>
        <li><a class="button" href="{% url 'novel:story_create' %}">ストーリーを作成</a></li>
      </ul>
    </div>
  </div>
</div>
</body>
</html>
