@charset "UTF-8";
body{
  list-style: none;
}
a{
  text-decoration: none;
}

footer{
  min-width: 1200px;
  width: 100%;
  height: 60px;
  bottom: 0;
  background-color: #432;
  text-align: center;
  padding: 26px 0;
}
footer p{
  color: #fff;
  font-size: 0.875rem;
}
.page-header{
  display: flex;
  align-items: center;
  margin-left: 50px;
}
header h1{
  font-family: 'Shippori Mincho B1', serif;
  font-size: 50px;
  font-weight: lighter;
  padding-left: 40px;
}
.logo{
  width: 100px;
  margin-top: 15px;
}
.content{
  text-align: center;
  margin-top: 7%;
}
.description p{
  font-size: 20px;
  line-height: 3;
  font-family: serif;
  font-weight: bold;
  text-align: center;
}
.option{
  text-align: center;
  margin-top: 30px;
}
.option li{
  padding: 20px 0px;
}
.button{
  border-radius: 5px;
  background-color: #00a5dd;
  color: #fff;
  padding: 13px 20px;
}
.button:hover{
  background-color: #0090aa;
}
#home{
  background-image: url(/static/images/home-background.jpg);
  background-size: contain;
  background-repeat: repeat-x;
  height: 950px;
}
select{
  border: 1px solid #b1dae3;
  font-style: serif;
  line-height: 1.7;
  width: 100px;
  border-radius: 5px;
  padding-left: 5px;
}
.select{
  margin: 20px 20px;
}
.field input{
  border: 0.7px solid #b1dae3;
  border-radius: 7px;
}
.field{
  margin: 20px 20px;
}
.is-primary{
  height: 30px;
  margin-top: 20px;
  padding: 5px;
  width: auto;
}
.search-form{
  display: flex;
  min-width: inherit;
}
.header-menu{
  min-height: 130px;
  min-width: 1200px;
  width: 100%;
  display: flex;
  border-bottom: 1px #9c8b70 solid;
}
.list-content{
  display: flex;
  justify-content: center;
}
.post-info h2{
  font-family: 'Kaisei Decol', serif;
  font-size: 3rem;
}
.post-info{
  padding-bottom: 10px;
}
.grid{
  display: grid;
  gap: 26px;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 6%;
  margin-bottom: 50px;
}
article{
  width: 570px;
}
aside{
  width: 15%;
  margin-left: 20px;
}
.menu-list {
  list-style: none;
  margin-bottom: 60px;
}
.menu-list li{
  border-bottom: 1px #ddd solid;
}
.menu-list a{
  color: #432;
  padding: 10px;
  display: block;
}
.menu-list a:hover{
  color: #0bd;
}
.menu-label{
  font-size: 1.375rem;
  padding: 0 8px 8px;
  border-bottom: 2px #0bd solid;
  font-weight: normal;
}
.link-menu{
  margin-right: 10%;
  margin-top: 7%;
}
.link-menu li{
  list-style: none;
}
.link-menu a{
  color: #432;
  padding: 10px;
  display: block;
}
.link-menu a:hover{
  color: #0bd;
}
.page-link{
  text-align: center;
}
.list-menu{
  min-width: 1200px;
  padding-top: 10%;
  background-color: rgb(250, 238, 195, 0.1);
}

#detail-home{
  min-width: 660px;
  width: 100%;
  padding-bottom: 20px;
}
.detail-wrapper{
  width: 100%;
  display: flex;
}
.detail-box{
  width: 100%;
}
.detail-item{
  width: 100%;
  text-align: center;
}
.detail-info{
  margin-bottom: 5%;
}
.detail-info h1{
  font-size: 30px;
  font-weight: bolder;
  font-family: 'Kaisei Decol', serif;
}
.detail-info p{
  font-size: 17px;
  line-height: 2;
}

.story-content{
  font-size: 19px;
  line-height: 1.7;
  text-align: justify;
  width: 67%;
  margin: 0 auto;
}
.detail-menu {
  margin: 4% 5%;
  width: 10%;
}
.detail-menu li{
  list-style: none;
  margin-bottom: 7px;
  border-bottom: 2px #7febe7 solid;
  padding-bottom: 7px;
  text-align: center;
}
.detail-menu a{
  display: block;
}
.detail-menu a:hover{
  color: #0bd;
}
.comment-box{
  text-align: center;
  border: 2px dotted #abaab3;
  border-radius: 7px;
  border-color: #4aeaed;
  width: 20%;
  padding: 3%;
  margin: 5%;
}
section{
  margin-top: 6%;
  margin-left: 15%;
}
.create-wrapper{
  padding-bottom: 15px;
  text-align: center;
  padding-top: 10px;
  background-color: rgb(250, 238, 195, 0.1);
}

.create-wrapper a:hover{
  color: #0bd;
}
.warning {
  margin-top: 2px;
  margin-bottom: 2%;
}
.warning p{
  color: #fa3d37;
}
form #id_title{
  border: 1px solid rgba(55, 58, 61, 0.5);
  margin-bottom: 5px;
}
form #id_text{
  box-sizing: border-box;
  border: 1px solid rgba(55, 58, 61, 0.5);
}
form textarea{
  resize: none;
  width: 70%;
  height: 650px;
  padding: 15px;
  margin-top: 6px;
  margin-bottom: 10px;
}
form #id_category{
  margin-bottom: 10px;
}
.createbutton{
  margin-top: 4px;
  margin-bottom: 10px;
  border: 1px solid #0bd;
  border-radius: 4px;
  background-color: #00a5dd;
  color: #fff;
  padding: 3px;
}
.comment-form textarea{
  resize: none;
  width: 300px;
  height: 300px;
  padding:  15px;
  margin: 6px 0px 10px 0px;
}
.category-form-wrapper{
  height: 900px;
  text-align: center;
  padding-top: 5%;
  background-color: rgb(250, 238, 195, 0.1);
}
#id_name{
  border: 1px solid;
  padding: 3px;
}
.comment-wrapper{
  height: 900px;
  padding-bottom: 15px;
  text-align: center;
  padding-top: 10px;
  background-color: rgb(250, 238, 195, 0.1);
}
.terms-wrapper{
  display: flex;
  justify-content: center;
}
.terms{
  width: 50%;
  margin-left: 50px;
}
.terms p{
  text-align: justify;
  font-size: 14px;
  line-height: 1.7;
}
.terms li{
  font-size: 14px;
  margin: 5px;
}
